@import 'tailwindcss';

@theme {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans), Arial, sans-serif;
}
